<div class="login-body">
    <div class="logo">
        <img src="assets/layout/images/harmony-logo.png" alt="harmony-layout"/>
        <span class="app-name">Subred Norte E.S.E.</span>
    </div>
    <div class="login-panel">
        <img src="assets/layout/images/template/injection-login-mobile.jpg" alt="harmony-layout" class="mobile"/>
        <div class="left-part">
            <span class="login-panel-header">Vacunación</span>
            <span class="login-panel-subheader">Bienvenido, por favor diligencie sus credenciales para entrar al aplicativo</span>
            <div style="margin-top:32px">
                <div class="p-col-12">
                    <label>Correo Electrónico</label>
                    <input type="text" autocomplete="off" pInputText type="email"
                    [(ngModel)]="email"/>
                </div>
                <div class="p-col-12">
                    <label>Contraseña</label>
                    <input type="password" autocomplete="off" pInputText feedback="false" type="password"
                    [(ngModel)]="password"/>
                </div>
            </div>
            <div class="p-col-6">
                <button type="button" pButton label="Ingresar" class="p-button-raised" (click)="customLogin()" ></button>
            </div>
        </div>
        <div class="right-part">
            <img src="assets/layout/images/template/injection.jpg" alt="harmony-layout"/>
        </div>
    </div>
</div>
