<div class="p-grid">
	<div class="p-col-12">

		<p-toast></p-toast>

		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
					<button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openNew()"></button>
					<button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteSelectedPersonas()" [disabled]="!selectedPersonas || !selectedPersonas.length"></button>
				</ng-template>

				<ng-template pTemplate="right">
				<!--	<p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
					--><button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
				</ng-template>
			</p-toolbar>

			
			<p-table #dt [value]="tablaList" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['id','tipo_id']"
			[(selection)]="selectedPersonas" [rowHover]="true" dataKey="key"
			styleClass="p-datatable-customers"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
	   <ng-template pTemplate="caption">
		   <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
			   <h5 class="p-m-0">Lista de Personas</h5>
			   <span class="p-input-icon-left">
			   <i class="pi pi-search"></i>
			   <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
		   </span>
		   </div>
	   </ng-template>
	   <ng-template pTemplate="header">
		   <tr>
			   <th style="width: 3rem">
				   <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
			   </th>
			   <th pSortableColumn="tipo_id">Tipo Doc<p-sortIcon field="tipo_id"></p-sortIcon></th>
			   <th pSortableColumn="id">Documento<p-sortIcon field="id"></p-sortIcon></th>
			   <th pSortableColumn="nombre_1">1ᵉʳ Nombre <p-sortIcon field="nombre_1"></p-sortIcon></th>
			   <th pSortableColumn="nombre_2">2º Nombre <p-sortIcon field="nombre_2"></p-sortIcon></th>
			   <th pSortableColumn="apellido_1">1ᵉʳ Apellido <p-sortIcon field="apellido_1"></p-sortIcon></th>
			   <th pSortableColumn="apellido_2">2º Apellido <p-sortIcon field="apellido_2"></p-sortIcon></th>
			</tr>
	   </ng-template>
	   <ng-template pTemplate="body" let-persona>
		   <tr>
			   <td>
				   <p-tableCheckbox [value]="persona"></p-tableCheckbox>
			   </td>
			   
			   <td><span class="p-column-title">tipo_id</span>
				{{persona.tipo_id["code"]}}
			</td>

			   <td><span class="p-column-title">id</span>
				   {{persona.id}}
			   </td>
			   <td><span class="p-column-title">primer nombre</span>
				{{persona.nombre_1}}
				</td>
				<td><span class="p-column-title">segundo nombre</span>
					{{persona.nombre_2}}
				</td>

				<td><span class="p-column-title">primer apellido</span>
					{{persona.apellido_1}}
				</td>
				<td><span class="p-column-title">segundo apellido</span>
						{{persona.apellido_2}}
				</td>
			   

			   <td>
				   <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(persona)"></button>
				   <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePersona(persona)"></button>
			   </td>
		   </tr>
	   </ng-template>
	   <ng-template pTemplate="summary">
		   <div class="p-d-flex p-ai-center p-jc-between">
			   hay un total de {{tablaList ? tablaList.length : 0 }} Registros.
		   </div>
	   </ng-template>
   </p-table>

			








		</div>

		<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Nuevo USUARIO " [modal]="true" styleClass="p-fluid">
			
			<ng-template pTemplate="content" let-persona="personaEdit">
				<form #personaForm="ngForm" id="personaForm" (ngSubmit)="onSubmit(personaForm)">
			
			<!--	<img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image">
				-->

				

				<div class="p-field"  *ngIf="!personaEdit.tipo_id">
					<label for="name">Tipo identificacio</label>
					
					<p-dropdown inputId="tipo_id" name="tipo_id" [options]="tipos_ident" [(ngModel)]="personaEdit.tipo_id"   placeholder="Select"  optionLabel="name"  ></p-dropdown>

					<small class="p-invalid" *ngIf="submitted && !personaEdit.tipo_id">Tipo identificacio es requerida.</small>
				</div>

				<div class="p-field"  *ngIf="personaEdit.tipo_id">
					<label for="name">Tipo identificacio</label>
					
					<p-dropdown inputId="tipo_id" name="tipo_id" [options]="tipos_ident" [(ngModel)]="personaEdit.tipo_id"   placeholder="Select"  optionLabel="name"  [readonly]="!inEditMode"></p-dropdown>

					<small class="p-invalid" *ngIf="submitted && !personaEdit.tipo_id">Tipo identificacio es requerida.</small>
				</div>




				<div class="p-field" *ngIf="!personaEdit.tipo_id">
					<label for="name">Numero de identificacion</label>
					<input type="number" name="id" pInputText id="id" [(ngModel)]="personaEdit.id" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.id">identificacion es requerida.</small>
				</div>
				<div class="p-field" *ngIf="personaEdit.tipo_id">
					<label for="name">Numero de identificacion</label>
					<input type="number" name="id" pInputText id="id" [(ngModel)]="personaEdit.id" [readonly]="!inEditMode"/>
					<small class="p-invalid" *ngIf="submitted && !personaEdit.id">identificacion es requerida.</small>
				</div>


				<div class="p-formgrid p-grid">
					<div class="p-field p-col">
						<label for="price">Primer Nombre</label>
						<input type="text" pInputText name="nombre_1" id="nombre_1" [(ngModel)]="personaEdit.nombre_1" required autofocus />
						<small class="p-invalid" *ngIf="submitted && !personaEdit.nombre_1">Escriba un nombre</small>
					</div>
					<div class="p-field p-col">
						<label for="quantity">Segundo Nombre</label>
						<input type="text" pInputText name="nombre_2" id="nombre_2" [(ngModel)]="personaEdit.nombre_2" required autofocus />
						
					</div>
				</div>


				
				<div class="p-formgrid p-grid">
					<div class="p-field p-col">
						<label for="apellido_1">Primer Apellido</label>
						<input type="text" pInputText name="apellido_1" id="apellido_1" [(ngModel)]="personaEdit.apellido_1" required autofocus />
						<small class="p-invalid" *ngIf="submitted && !personaEdit.apellido_1">Escriba un apellido_1</small>
					</div>
					<div class="p-field p-col">
						<label for="apellido_2">Segundo apellido</label>
						<input type="text" pInputText  name="apellido_2" id="apellido_2" [(ngModel)]="personaEdit.apellido_2" required autofocus />
					
					</div>
				</div>
				



				<div class="p-field">
					<label for="name">Fecha de nacimiento</label>
					<input type="date" name="fec_nac" pInputText id="fec_nac" [(ngModel)]="personaEdit.fec_nac" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.name">Name is required.</small>
				</div>

				<div class="p-field">
					<label for="name">Sexo</label>
					
					<p-dropdown inputId="sexo" name="sexo" [options]="sexos" [(ngModel)]="personaEdit.sexo"   placeholder="Select" optionLabel="name"></p-dropdown>

					<small class="p-invalid" *ngIf="submitted && !personaEdit.identificacion">Seleccione un sexo.</small>
				</div>
				
				<div class="p-field">
					<label for="name">Lugar de Nacimiento</label>
					<input type="text" name="lugar_naci" pInputText id="fec_nac" [(ngModel)]="personaEdit.lugar_naci" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.fec_nac">Ingrese la fecha de nacimiento</small>
				</div>
				

				<div class="p-field">
					<label for="name">Empresa donde Labora</label>
					<input type="text" name="empresa_labora" pInputText id="empresa_labora" [(ngModel)]="personaEdit.empresa_labora" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.empresa_labora">Ingrese el dato.</small>
				</div>
				

				<div class="p-field">
					<label for="name">Regimen</label>
					<input type="text" name="regimen" pInputText id="regimen" [(ngModel)]="personaEdit.regimen" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.regimen">Ingrese el dato.</small>
				</div>

				<div class="p-field">
					<label for="name">Localidad</label>
					<input type="text" name="localidad" pInputText id="localidad" [(ngModel)]="personaEdit.localidad" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.localidad">Ingrese el dato.</small>
				</div>
				
				<div class="p-field">
					<label for="name">Barrio</label>
					<input type="text" name="barrio" pInputText id="barrio" [(ngModel)]="personaEdit.barrio" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.barrio">Ingrese el dato.</small>
				</div>
				
				<div class="p-field">
					<label for="name">Direccion</label>
					<input type="text" name="direccion" pInputText id="direccion" [(ngModel)]="personaEdit.direccion" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.direccion">Ingrese el dato.</small>
				</div>
				
				<div class="p-field">
					<label for="name">Telefono fijo</label>
					<input type="text" name="fijo" pInputText id="fijo" [(ngModel)]="personaEdit.fijo" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.fijo">Ingrese el dato.</small>
				</div>
				
				<div class="p-field">
					<label for="name">Telefono celular</label>
					<input type="text" name="celular" pInputText id="celular" [(ngModel)]="personaEdit.celular" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.celular">Ingrese el dato.</small>
				</div>
			
				<div class="p-field">
					<label for="name">Correo electronico</label>
					<input type="text" name="correo" pInputText id="correo" [(ngModel)]="personaEdit.correo" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.correo">Ingrese el dato.</small>
				</div>
				
				<div class="p-field">
					<label for="name">Telefono de un familiar</label>
					<input type="text" name="tel_contact" pInputText id="tel_contact" [(ngModel)]="personaEdit.tel_contact" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.tel_contact">Ingrese el dato.</small>
				</div>
				


				<div class="p-field">
					<label for="name">Lote de vacunas</label>
					<input type="text" name="lote_v" pInputText id="lote_v" [(ngModel)]="personaEdit.lote_v" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.lote_v">Ingrese el dato.</small>
				</div>
				

				<div class="p-field">
					<label for="name">Laboratorio</label>
					<input type="text" name="laboratorio" pInputText id="laboratorio" [(ngModel)]="personaEdit.laboratorio" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !personaEdit.laboratorio">Ingrese el dato.</small>
				</div>
				
				
			
				</form>




			</ng-template>
			<ng-template pTemplate="footer">
				<button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
				<button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" form="personaForm" type="submit"></button>
			</ng-template>
			
		</p-dialog>

		<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
	</div>
</div>
